In [1]:
import yahoo_finance_data as yfd
import pandas as pd

In [3]:
loader = yfd.YahooBatchLoader()

In [44]:
df = loader.get_historical_prices("IMAX", prepost=False)

In [45]:
df

,Datetime,Ticker,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Market
0,2023-05-22 09:30:00-04:00,IMAX,19.000000,19.000000,19.000000,19.000000,19.000000,0,0.0,0.0,Open
1,2023-05-22 09:31:00-04:00,IMAX,18.870001,18.961000,18.870001,18.961000,18.961000,3700,0.0,0.0,Open
2,2023-05-22 09:34:00-04:00,IMAX,18.920000,18.920000,18.920000,18.920000,18.920000,205,0.0,0.0,Open
3,2023-05-22 09:35:00-04:00,IMAX,18.879999,18.900000,18.879999,18.900000,18.900000,311,0.0,0.0,Open
4,2023-05-22 09:36:00-04:00,IMAX,18.920000,18.920000,18.900000,18.900000,18.900000,350,0.0,0.0,Open
...,...,...,...,...,...,...,...,...,...,...,...
1334,2023-05-26 15:55:00-04:00,IMAX,17.170000,17.170000,17.155001,17.170000,17.170000,9460,0.0,0.0,Open
1335,2023-05-26 15:56:00-04:00,IMAX,17.170000,17.170000,17.160000,17.160000,17.160000,4270,0.0,0.0,Open
1336,2023-05-26 15:57:00-04:00,IMAX,17.165001,17.165001,17.129999,17.145000,17.145000,13241,0.0,0.0,Open
1337,2023-05-26 15:58:00-04:00,IMAX,17.150000,17.184999,17.150000,17.174999,17.174999,13868,0.0,0.0,Open
1338,2023-05-26 15:59:00-04:00,IMAX,17.174999,17.200001,17.170000,17.190001,17.190001,21947,0.0,0.0,Open

In [46]:
import vectorbt as vbt

price = df.set_index("Datetime").loc[:, "Close"]

In [49]:
fast_ma = vbt.MA.run(price, 10)
slow_ma = vbt.MA.run(price, 50)
entries = fast_ma.ma_crossed_above(slow_ma)
exits = fast_ma.ma_crossed_below(slow_ma)

pf = vbt.Portfolio.from_signals(price, entries, exits, init_cash=100)
pf.total_profit()

-1.8106819435448216

In [7]:
yfd.to_parquet(loader.get_historical_prices("IMAX"), root_dir="./data")