In [1]:
import yahoo_finance_data as yfd
import pandas as pd

In [ ]:
loader = yfd.YahooBatchLoader()

In [3]:
import vectorbt as vbt

df = yfd.files.read_parquet(root_dir="./data", tickers="IMAX")

price = df.loc[df.Market=="Open", ["Close", "Datetime"]].set_index("Datetime")["Close"]

In [4]:
fast_ma = vbt.MA.run(price, 10)
slow_ma = vbt.MA.run(price, 50)
entries = fast_ma.ma_crossed_above(slow_ma)
exits = fast_ma.ma_crossed_below(slow_ma)

pf = vbt.Portfolio.from_signals(price, entries, exits, init_cash=100)
pf.total_profit()

-1.8106819435448216

In [5]:
df.set_index("Datetime")

,Ticker,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,Market
Datetime,,,,,,,,,,
2023-05-22 09:30:00-04:00,IMAX,19.000000,19.000,19.000000,19.000,19.000,0,0.0,0.0,Open
2023-05-22 09:31:00-04:00,IMAX,18.870001,18.961,18.870001,18.961,18.961,3700,0.0,0.0,Open
2023-05-22 09:34:00-04:00,IMAX,18.920000,18.920,18.920000,18.920,18.920,205,0.0,0.0,Open
2023-05-22 09:35:00-04:00,IMAX,18.879999,18.900,18.879999,18.900,18.900,311,0.0,0.0,Open
2023-05-22 09:36:00-04:00,IMAX,18.920000,18.920,18.900000,18.900,18.900,350,0.0,0.0,Open
...,...,...,...,...,...,...,...,...,...,...
2023-05-26 16:06:00-04:00,IMAX,17.010000,17.010,17.010000,17.010,17.010,0,0.0,0.0,Closed
2023-05-26 16:07:00-04:00,IMAX,17.200000,17.200,17.200000,17.200,17.200,0,0.0,0.0,Closed
2023-05-26 17:33:00-04:00,IMAX,17.330000,17.330,17.330000,17.330,17.330,0,0.0,0.0,Closed
2023-05-26 18:39:00-04:00,IMAX,17.320000,17.320,17.320000,17.320,17.320,0,0.0,0.0,Closed
2023-05-26 18:42:00-04:00,IMAX,17.330000,17.330,17.330000,17.330,17.330,0,0.0,0.0,Closed

In [27]:
price = vbt.YFData.download("IMAX", interval="1m").get("Close")

In [23]:
price

AttributeError: 'Series' object has no attribute 'set_index'

In [21]:
type(price)

pandas.core.series.Series

In [22]:
price

Datetime
2023-05-22 13:30:00+00:00    19.000000
2023-05-22 13:31:00+00:00    18.961000
2023-05-22 13:34:00+00:00    18.920000
2023-05-22 13:35:00+00:00    18.900000
2023-05-22 13:36:00+00:00    18.900000
                               ...
2023-05-26 19:55:00+00:00    17.170000
2023-05-26 19:56:00+00:00    17.160000
2023-05-26 19:57:00+00:00    17.145000
2023-05-26 19:58:00+00:00    17.174999
2023-05-26 19:59:00+00:00    17.190001
Name: Close, Length: 1339, dtype: float64